.App {
  min-height: 100vh;
}

.Container {
  text-align: left;
  padding: 2vh 6vw;
  margin-bottom: 20vh;
}

.App-link {
  color: #61dafb;
}

.completed-list {
  display: block;
  margin: auto;
  padding: 0 6vw;
  background-color: #bcc6b0;
  bottom: 0;
  width: 100%;
  position: fixed;
  border-top: 1px solid #655f6a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
